.middle {
    padding-top: 150px;
    width: 100%;
    height: 22000px;
    display: flex;
    flex-direction: column;
}
.page_title {
    color: #2D4059;
    margin-left: 5%;
    font-size: xx-large;
}