.main_container {
  background: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.WhatIs_panel {
  width: 50%;
  margin-top: 5px;
}
.description_panel {
  width: 70%;
  height: 70%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2 {
  text-align: center;
  color: #252b42;
  font-weight: 700;
  font-size: 4vh;
}

p {
  font-size: 2vh;
  text-align: center;
  color: #4f4e4e;
  font-weight: 600;
}
@media (max-width: 600px) {
  .line2 {
    display: none;
  }
  .WhatIs_panel {
    width: 90%;
  }
  .WhatIs_panel > h2,.WhatIs_panel > p {
    text-align:left ;
  }
  .WhatIs_panel > h2{
    width: 60%;
  }
  .description_panel {
    flex-direction: column;
    width: 90%;
    justify-content:space-between;
  }
}
