@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #d6d6d6;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.parent {
  display: grid; 
  grid-template-columns: 0.9fr 1.4fr 0.7fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "div1 div2 div3"; 
}
.div1 { grid-area: div1; }
.div2 { grid-area: div2; }
.div3 { grid-area: div3; }

.container-1 {
  display: grid; 
  grid-template-columns: 1.4fr 0.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "div4 div3"; 
}